<% include ./partials/header.ejs %>
<div class="w-full h-full bg-white flex justify-center">
    <div class=" mt-20 absolute flex flex-col justify-between max-w-[30rem] border-y-[3px] border-zinc-300 rounded px-2 bg-zinc-50">
        <div class="top ">
            <h1 class="text-lg">@<%=post.user.username%></h1>
            <h1 class="mt-2 ml-4"><%=post.title%></h1>
        </div>
        <div class="img w-full h-full border-b-2 border-zinc-200 pb-2">
            <img src="/images/uploads/<%=post.image%>" alt="" class="h-full w-full object-contain bg-center">
        </div>
        <div class="bottom flex justify-around items-center">
            <div class="hover:bg-zinc-200 px-3 py-2 w-full flex gap-2">
                <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/facebook-like--v1.png" alt="facebook-like--v1" class="w-[18px] h-4"/>
                <span class=" text-xs">
                like</span>
            </div>
            <div class="hover:bg-zinc-200 px-3 py-2 w-full flex gap-2">
                <img width="50" height="50" src="https://img.icons8.com/ios/50/speech-bubble--v1.png" alt="speech-bubble--v1"/ class="w-4 h-4">
                <span class=" text-xs">
                comment</span>
            </div>
            <div class="hover:bg-zinc-200 px-3 py-2 w-full flex gap-2">
                <img width="50" height="50" src="https://img.icons8.com/ios/50/share-3.png" alt="share-3"/ class="w-4 h-4">
                <span class=" text-xs">share</span>
            </div>
            
            
            
        </div>
    </div>
</div>
<% include ./partials/footer.ejs %>